# Config file for automatic testing at travis-ci.com

language: python
python:
  - 3.8
  - 3.7
  - 3.6

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -U poetry
  - pip install -U tox-travis
  - pip install -U coveralls
  - pip install -U codecov
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ~/cc-test-reporter
  - chmod +x ~/cc-test-reporter
  - ~/cc-test-reporter before-build

# Command to run tests, e.g. python setup.py test
script:
  - tox

after_script:
  - coveralls
  - codecov
  - ~/cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

before-deploy:
  - poetry config http-basic.pypi $MYPYPI_USER $MYPYPI_PASS
  - poetry build

deploy:
  skip_cleanup: true
  provider: script
  script: poetry publish
  on:
    tags: true
    repo: stdtom/ssl_certinfo
    branch: master
    python: 3.8
