[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
Sphinx = "*"
twine = "*"
pre-commit = "*"
pytest = "*"
pytest-runner = "*"
black = "==19.10b0"
isort = "*"
pytest-timeout = "*"

[packages]
pyopenssl = "*"

[requires]
python_version = "3.8"
